

.work-sans-normal{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* banner styles */
.banner{
    background-color: #C6E4D6;
    display: flex;
    margin: 0px 160px 0px 160px;
    justify-content: space-around;
    border-radius: 24px;
    /* width: 1260px;
    height: 530px; */
    
}

.banner-content{
  padding: 110px 50px;
  gap: 60px;
  margin-bottom: 16px;
}

.banner-title{
    font-size: 18px;
    font-weight: 500;
    /* color: rgba(14, 14, 14, 0.14); */
    color: rgba(14, 14, 14, 0.38);
    opacity: 100%;
    
    
}
.banner-description{
  font-weight: 800;
  font-size: 50px;
  color: #0E0E0E;
}
.btn-primary{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 15px 30px;
  border: none;
  opacity: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}
.banner-image{
  padding: 80px 60px 80px 60px;
}

/* card design */
.card{
  margin: 80px 160px 80px 160px;
}
.card-topline{
  color: #0E0E0E;
  font-weight: 700;
  font-size: 40px;
}
.card-top-description{
  color: rgba(14, 14, 14, 0.43);
  font-size: 16px;
  font-weight: 400;
}
.card-mother{
  display: flex;
  gap: 24px;
}
.card-1{
  padding: 32px;
  background-color:rgba(36, 132, 151, 0.32) ;
  border-radius: 16px;
  width: 410.67px;
}
.card-2{
  padding: 32px;
  background-color:rgba(198, 228, 214, 1) ;
  border-radius: 16px;
  width: 410.67px;
}
.card-3{
  padding: 32px;
  background-color:rgba(247, 235, 207, 1) ;
  border-radius: 16px;
  width: 410.67px;
  height: 325px;
}
.card-heading{
  font-weight: 800;
  font-size: 20px;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.card-description{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.54);
}
.btn-1{
  background-color: #5490F5;
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 24px;
  border: none;
}
.btn-2{
  background-color: #09A15C;
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 48px;
  border: none;
}
.btn-3{
  background-color: #FFC239;
  padding: 11px 20px 11px 20px;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 64px;
  border: none;
}
/* dr. younus styles*/
.Dr-Younus{
  margin: 32px 160px 80px 160px;
  height: 256px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;
  /* background-position: top left; */
  background-position: 2% 9%;
  /* padding: 24px; */

}
.younus-content{
  margin: 48px 24px 48px 24px;
  
}
.younus-description{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.69);
  /* margin-bottom: 12px; */
}
.name{
  font-weight: 600;
  font-size: 20px;
  color: #0E0E0E;
  margin-bottom: 0;
}
.extension{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.69);
  margin-top: 0;

}
/* news section design */
.news-top{
  margin: 80px 160px 80px 160px;
}
.recent-heading{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.recent-description{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.48);
}
.row1{
  border: 1px solid #ddd;
  border-radius: 24px;
  /* background-color: #f9f9f9; */
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 32px;
  height: 402px;
}
.news-image{
  width: 408px;
  height: 306px;
  border-radius: 24px;
  margin: 48px 0px 48px 48px;
}

.row1-content{
  margin: 56px 48px 56px 0px;
}
.news-headline{
  color: #0E0E0E;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 12px;
  margin-top: 0px;
}
.date{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.66);
  margin-top: 12px;
  margin-bottom: 12px;
}
.news-decription{
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.66);
  margin-bottom: 32px;
  /* margin-bottom: 32px; */
}
.news-btn{
  background-color: #006A50;
  color: #FFFFFF;
  padding: 13px 26px 13px 26px;
  /* font-size: 18px;
  font-weight: 600;
  width: 139px;
  height: 48px; */
  border-radius: 13px;
  border: none;
}
.row2{
  margin-top: 24px;
  border: 1px solid #ddd;
  border-radius: 24px;
  /* background-color: #f9f9f9; */
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 32px;
  height: 402px;
}
.row2-content{
  margin: 56px 0px 56px 48px;
}
.news-image-2{
  width: 408px;
  height: 306px;
  border-radius: 24px;
  margin: 48px 48px 48px 0px;
}